/* font */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');

:root{
    --primary-color1: #E7816B;
    --primary-color2: #1D1C1E;
    --primary-color3: #FFFFFF;
    --secondary-color1: #FFAD9B;
    --secondary-color2:#333136;
    --secondary-color3:#F1F3F5;
}

/* body */
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    background-color: var(--primary-color3);
}

h1,h2,ul,h3,p{
    margin: 0;
    padding: 0;
    border: 0;
}

/* logo */

.logo-designo{
    width: 202px;
    height: 27px;
    margin: 7px 0px;
}


/* nav ul tags */
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

/* Header */

header{
    display: flex;
    margin: 64px 135px;
}

/* for current testing */
.content{
    margin:0px 135px;
}
footer{
    margin: 64px 135px;
}

/* Nav Bar */
nav{
    width: 100%;
    height: 100%;
}

nav ul li{
    margin: 7px 0px 7px 20px;
}

nav ul li a{
    text-decoration: none;
    color: var(--primary-color2);
    font-size: 14px;
}

nav ul li a:hover{
    color: var(--secondary-color1);
    font-size: 14px;
}

.header-div{
    width: 100%;
    height: 252px;
    background-color: var(--primary-color1);
    border-radius: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 160px;
}

.header-content{
    margin: 64px 0px;
    position: absolute;
    text-align: center;
}


.header-content h2{
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    color: var(--primary-color3);
}

.header-content p{
    color: var(--primary-color3);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

/* Project showcase */

.projects-container{
    color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.project-container-child{
    width: 350px;
    height: 478px;
    background: #FDF3F0;
    border-radius: 15px;
    margin-right: 9px;
    margin-bottom: 32px;;
}

.project-img{
    width: 350px;
    height: 320px;
    border-radius: 15px 15px 0px 0px;
}

.project-container-child h2{
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--primary-color1);
    margin: 32px 32px 16px 32px;
}

.project-container-child p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: var(--secondary-color2);
    margin: 0px 32px 32px 32px;
    word-wrap: break-word;
}

/* Background shadow rectangle */
.background-rectangle{
    position: absolute;
    width: 1006px;
    height: 594px;
    left: 0px;
    top: 281px;
    background: var(--secondary-color3);
    mix-blend-mode: normal;
    opacity: 0.5;
    border-radius: 297px 297px 297px 0px;
    z-index: -1;
}

/* Services Container */

.services-container{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.service-img{
    width: 521px;
    height: 308px; 
    margin-right: 7px;
    border-radius: 15px;
    object-fit: cover;
    z-index: -1;
}

.services-container-child{
    width: 521px;
    height: 308px;
    margin-right: 7px;
    border-radius: 15px;
    position: relative;
    text-align: center;
    color: white;
    background-color: violet;
    z-index: +1;
}


.services-container-child h2{
    color:white;
    position: absolute;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
/* identical to box height, or 120% */
    text-transform: uppercase;
    letter-spacing: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.services-container-child p{
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -10%)
}

.services-container-child p a{
    text-decoration: none;
    color: white;
    z-index: +2;
}

.services-container-child p a:hover{
    text-decoration: none;
    color: var(--secondary-color1);
}

