:root {
  --bgcolor: #0d1a2d;
  --card-color: #15273f;
  --border-line: hsl(215, 32%, 27%);
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --white: hsl(0, 0%, 100%);
  --shadow: hsl(219, 50%, 18%);
  --text-color: hsl(215, 32%, 44%);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bgcolor);
}

hr {
  color: var(--white);
  height: 0.1em;
  margin: 0.4em 0;
  border-color: var(--border-line);
}

.container {
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  max-width: 24.5vw;
  max-height: 80vh;

  border: 0.1rem solid var(--border-line);
  height: 59.5rem;
  min-width: 20vw;
  border-radius: 5%;
  background-color: var(--card-color);
  filter: drop-shadow(0.75em 0.75em 0.5em);
  padding: 1.2rem;
}
.container__image {
  width: 100%;
}
.container__image img {
  max-width: 100%;
  border-radius: 0.8em;
  display: block;
  align-self: center;
}

.container__info {
  width: 33em;
  max-width: 100%;
}

.container__info h3 {
  font-size: 1.1em;
  font-weight: bold;
  color: var(--white);
  margin: 1.5em 0;
}

.container__info p {
  font-size: 1.1em;
  max-width: 100%;
  color: var(--text-color);
}

.price-time-info {
  margin-top: 1em;
  max-width: 100%;
}

#eth {
  color: var(--cyan);
  font-size: 0.9em;
}
#clock {
  position: relative;
  right: -11em;
  color: var(--soft-blue);
  font-size: 0.9em;
}

.container__profile {
  color: var(--text-color);
  display: flex;
  font-size: 0.9em;
  margin: 0.6em 0;
}

.container__profile span img {
  height: 1.4em;
  margin-right: 1em;
}

.container__profile p span {
  color: var(--white);
}

footer {
  color: var(--white);
}
