:root {
    --spacing-regular: 8px;
    --spacing-medium: 16px;
    --font-small: 0.5rem;
    --font-regular: 1.2rem;
    --font-large: 1.5rem;
    --font-xl: 2.5rem;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* , *::after,*::before{
    box-sizing: inherit;
}


body {
    margin: 0;
    max-width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    margin: var(--spacing-medium) auto;
    width: 90vw;
    text-align: center;
    background: url(daybg.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
}



.container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "search search"
    "current current"
    "hourly hourly"
    "fiveday fiveday"
    "feelslike humidity";
    gap: var(--spacing-medium);
}

.container , .container > article{
    border: 1px solid;
    padding: var(--spacing-medium);
    border-radius: var(--spacing-regular);

}

#current-forecast{
    grid-area: current;
}

#search{
    grid-area: search;
    padding: var(--spacing-regular);
    border-radius: var(--spacing-regular);
    font-size: var(--font-large);

}



#feels-like{
    grid-area: feelslike;
}

#humidity{
    grid-area: humidity;
}

#current-forecast .temp{
    font-size: var(--font-xl);
    font-weight: 600;
    margin: 0;
    padding: 0;
}

#current-forecast .min-max, #current-forecast .description{
    font-weight: 700;
    font-size: var(--font-regular);
}

#current-forecast .description{
    text-transform: capitalize;
}

/* hourly forecast card styling */

#hourly-forecast{
    grid-area: hourly;
    
}

.hourly-container {
    display: grid;
    /* auto-fill : fit as many as possible - fill and leave space if space occupied  */
    grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
    /* arrangement fashion for grid-components */
    grid-auto-flow: column;
    /* size for columns created implicitly */
    grid-auto-columns: minmax(100px,1fr);
    /* scroll overflow */
    overflow-x: auto;
}

.hourly-container .hourly-temp{
    font-weight: 600;
    font-size: var(--font-regular);
}

/* 5-day forecast card styling */

#five-day-forecast{
    grid-area: fiveday;
}

.five-day-forecast-container{
    display: grid;
    grid-auto-flow: row;
}

.five-day-forecast-container .day-wise-forecast{
    display: grid;
    grid-auto-flow: column;
    grid-template: auto/ repeat(4,1fr);
    gap: var(--spacing-regular);
    font-weight: 600;
    place-items: center;
}

.five-day-forecast-container .min-temp{
    opacity: 80%;
}

.five-day-forecast-container .max-temp{
    justify-self: end;
}

.five-day-forecast-container .day{
    justify-self: start;
}

#feels-like,#humidity{
    display: grid;
    grid-auto-flow: row;
    place-content: center;
}

.feels-like-temp{
    font-weight: 600;
    font-size: var(--font-regular);
}

.humidity-value{
    font-weight: 600;
    font-size: var(--font-regular);
}

@media (width >=650px){
    .container {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-areas: 
        "search search search search"
        "current current current current"
        "hourly hourly fiveday fiveday"
        "feelslike humidity fiveday fiveday";
        gap: var(--spacing-medium);
    }
}

@media (prefers-color-scheme:dark){
    body{
        background: url(nightbgtwo.jpg);
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        color: white;
    }
}

