@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* start writing your style here */
body{
    background-color: #F2F2F2;
    font-family: 'Jost', sans-serif;
}

/* for testing purpose only*/
header, main, footer{
    background-color: blueviolet;
}

.collection-section{
    height: 998px;
    width: 1110px;
    margin: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-items: space-between;
}

.collection-items{
    height: 300px;
    width: 300px;
    text-align: center;
    background-color: white;
}

.collection-img{
    height: 320px;
    width: 350px;
}